body{
  margin: 0px;
}
body > div{
  border-bottom: 0.3vw solid black;
  margin-bottom: 6vw;
}
div > div{
  margin: auto;
}
div > div:nth-child(1){
  height: 28vw;
  #text-align: center;
  font-size: 5vw;
  font-weight: bold;
  line-height: 26vw;
}
span{
  padding-left: 3vw;
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
}
div > div:nth-child(2){
  background-color: lightgreen;
  font-size: 2.5vw;
  padding: 1vw 7.7vw 3.3vw 7.7vw;
}
img{
  position: absolute;
  z-index: -1;
  width: 100%;
  opacity: 0.6;
}
